# Completando tabla por año

In [1]:
import pandas as pd

In [22]:
# Carga el CSV en un DataFrame
tabla_incompleta = pd.read_csv('completando/ejemplo/2001_sospecha-diagnostica_tosferina.csv')
tabla_incompleta[:10]

,codigo_municipio,municipio,grupo,variable,mes,menores a 1 año,de 1 a 4 años,de 5 a 14 años,de 15 a 59 años,de 60 y más años,total
0,20101,LA PAZ,sospecha diagnostica,tosferina,2001-01-01,0,1,0,0,0,1
1,20101,LA PAZ,sospecha diagnostica,tosferina,2001-02-01,2,0,0,0,0,2
2,40101,ORURO,sospecha diagnostica,tosferina,2001-03-01,0,1,1,0,0,2
3,70201,WARNES,sospecha diagnostica,tosferina,2001-03-01,1,0,0,0,0,1
4,20101,LA PAZ,sospecha diagnostica,tosferina,2001-04-01,3,0,0,0,0,3
5,71001,MONTERO,sospecha diagnostica,tosferina,2001-04-01,1,0,0,0,0,1
6,31001,SACABA,sospecha diagnostica,tosferina,2001-04-01,0,0,1,0,0,1
7,20101,LA PAZ,sospecha diagnostica,tosferina,2001-05-01,3,2,0,0,0,5
8,71001,MONTERO,sospecha diagnostica,tosferina,2001-05-01,1,0,0,0,0,1
9,70101,SANTA CRUZ DE LA SIERRA,sospecha diagnostica,tosferina,2001-05-01,1,2,0,0,0,3

In [23]:
# Convertir la columna "mes" a formato de fecha
tabla_incompleta['mes'] = pd.to_datetime(tabla_incompleta['mes'])

# Agregar columnas "año" y "departamento" basadas en la columna "mes"
tabla_incompleta['año'] = tabla_incompleta['mes'].dt.year
# Sumar los valores mensuales por municipio y año
tabla_sumada = tabla_incompleta.groupby(['codigo_municipio', 'municipio', 'grupo', 'variable','año']).sum().reset_index()
#-------------
#sale este error:

#C:\Users\USER\AppData\Local\Temp\ipykernel_7976\1170398404.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
#  tabla_sumada = tabla_incompleta.groupby(['codigo_municipio', 'municipio', 'grupo', 'variable','año']).sum().reset_index()

#pero no afecta aparentemente en la creacion de la tabla
#-------------

C:\Users\USER\AppData\Local\Temp\ipykernel_5088\2026237342.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tabla_sumada = tabla_incompleta.groupby(['codigo_municipio', 'municipio', 'grupo', 'variable','año']).sum().reset_index()

In [24]:
tabla_sumada

,codigo_municipio,municipio,grupo,variable,año,menores a 1 año,de 1 a 4 años,de 5 a 14 años,de 15 a 59 años,de 60 y más años,total
0,20101,LA PAZ,sospecha diagnostica,tosferina,2001,35,14,2,1,0,52
1,20105,EL ALTO,sospecha diagnostica,tosferina,2001,0,0,1,0,0,1
2,30101,COCHABAMBA,sospecha diagnostica,tosferina,2001,1,0,0,0,0,1
3,31001,SACABA,sospecha diagnostica,tosferina,2001,1,0,1,0,0,2
4,31003,VILLA TUNARI,sospecha diagnostica,tosferina,2001,2,3,0,0,0,5
5,40101,ORURO,sospecha diagnostica,tosferina,2001,1,1,1,0,0,3
6,40102,CARACOLLO,sospecha diagnostica,tosferina,2001,0,0,1,0,0,1
7,41401,SANTIAGO DE HUARI,sospecha diagnostica,tosferina,2001,1,0,0,0,0,1
8,50101,POTOSI,sospecha diagnostica,tosferina,2001,1,0,0,0,0,1
9,60101,TARIJA,sospecha diagnostica,tosferina,2001,2,0,0,0,0,2
10,60301,YACUIBA,sospecha diagnostica,tosferina,2001,4,1,0,0,0,5
11,70101,SANTA CRUZ DE LA SIERRA,sospecha diagnostica,tosferina,2001,1,3,0,0,0,4
12,70201,WARNES,sospecha diagnostica,tosferina,2001,1,0,0,0,0,1
13,71001,MONTERO,sospecha diagnostica,tosferina,2001,3,0,0,0,0,3

In [10]:
#cargando el CSV con la lista de departamentos y sus municipios
todos_municipios = pd.read_csv('resources/municipios_snis_corregido.csv')##tabla editada luego de eliminar muncipios repetidos
todos_municipios

     COD_MUNICIPIO                      MUNICIPIO DEPARTAMENTO
0            10101                          SUCRE   CHUQUISACA
1            10102                         YOTALA   CHUQUISACA
2            10103                         POROMA   CHUQUISACA
3            10201                        AZURDUY   CHUQUISACA
4            10202                        TARVITA   CHUQUISACA
..             ...                            ...          ...
337          90401  NACEBE (SANTA ROSA DEL ABUNA)        PANDO
338          90402               INGAVI (HUMAITA)        PANDO
339          90501  NUEVO MANOA (NUEVA ESPERANZA)        PANDO
340          90502        VILLA NUEVA (LOMA ALTA)        PANDO
341          90503        EUREKA (SANTOS MERCADO)        PANDO

[342 rows x 3 columns]

In [11]:
# Renombrar las columnas para que coincidan con la tabla incompleta
#todos_municipios = todos_municipios.rename(columns={'DEPARTAMENTO': 'departamento', 'COD_MUNICIPIO': 'codigo_municipio', 'MUNICIPIO': 'municipio'})
todos_municipios = todos_municipios.rename(columns={'DEPARTAMENTO': 'DEPARTAMENT', 'COD_MUNICIPIO': 'code_municipality', 'MUNICIPIO': 'municipality'})
todos_municipios

     code_municipality                   municipality DEPARTAMENT
0                10101                          SUCRE  CHUQUISACA
1                10102                         YOTALA  CHUQUISACA
2                10103                         POROMA  CHUQUISACA
3                10201                        AZURDUY  CHUQUISACA
4                10202                        TARVITA  CHUQUISACA
..                 ...                            ...         ...
337              90401  NACEBE (SANTA ROSA DEL ABUNA)       PANDO
338              90402               INGAVI (HUMAITA)       PANDO
339              90501  NUEVO MANOA (NUEVA ESPERANZA)       PANDO
340              90502        VILLA NUEVA (LOMA ALTA)       PANDO
341              90503        EUREKA (SANTOS MERCADO)       PANDO

[342 rows x 3 columns]

In [12]:
# Reorganizar las columnas para que "departamento" esté en la primera posición
#todos_municipios = todos_municipios[['departamento', 'codigo_municipio', 'municipio']]
todos_municipios = todos_municipios[['DEPARTAMENT', 'code_municipality', 'municipality']]
todos_municipios[:3]

  DEPARTAMENT  code_municipality municipality
0  CHUQUISACA              10101        SUCRE
1  CHUQUISACA              10102       YOTALA
2  CHUQUISACA              10103       POROMA

In [28]:
# Unir DataFrames y completar valores faltantes

tabla_completa = todos_municipios.merge(tabla_sumada, on=['codigo_municipio', 'municipio'], how='left')

tabla_completa['grupo'] = tabla_incompleta['grupo'].unique()[0]  # Asigna el valor único de 'grupo' en tabla_incompleta
tabla_completa['variable'] = tabla_incompleta['variable'].unique()[0]  # Asigna el valor único de 'variable' en tabla_incompleta
tabla_completa['año'] = tabla_incompleta['año'].unique()[0]  # Asigna el valor único de 'año' en tabla_incompleta

In [29]:
# Rellena las columnas seleccionadas a partir del la sexta con 0 y las convierte a tipo entero
tabla_completa.iloc[:, 6:] = tabla_completa.iloc[:, 6:].fillna(0).astype(int)

C:\Users\USER\AppData\Local\Temp\ipykernel_5088\3460953993.py:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  tabla_completa.iloc[:, 6:] = tabla_completa.iloc[:, 6:].fillna(0).astype(int)

In [30]:
tabla_completa

,departamento,codigo_municipio,municipio,grupo,variable,año,menores a 1 año,de 1 a 4 años,de 5 a 14 años,de 15 a 59 años,de 60 y más años,total
0,CHUQUISACA,10101,SUCRE,sospecha diagnostica,tosferina,2001,0,0,0,0,0,0
1,CHUQUISACA,10102,YOTALA,sospecha diagnostica,tosferina,2001,0,0,0,0,0,0
2,CHUQUISACA,10103,POROMA,sospecha diagnostica,tosferina,2001,0,0,0,0,0,0
3,CHUQUISACA,10201,AZURDUY,sospecha diagnostica,tosferina,2001,0,0,0,0,0,0
4,CHUQUISACA,10202,TARVITA,sospecha diagnostica,tosferina,2001,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
337,PANDO,90401,NACEBE (SANTA ROSA DEL ABUNA),sospecha diagnostica,tosferina,2001,0,0,0,0,0,0
338,PANDO,90402,INGAVI (HUMAITA),sospecha diagnostica,tosferina,2001,0,0,0,0,0,0
339,PANDO,90501,NUEVO MANOA (NUEVA ESPERANZA),sospecha diagnostica,tosferina,2001,0,0,0,0,0,0
340,PANDO,90502,VILLA NUEVA (LOMA ALTA),sospecha diagnostica,tosferina,2001,0,0,0,0,0,0
341,PANDO,90503,EUREKA (SANTOS MERCADO),sospecha diagnostica,tosferina,2001,0,0,0,0,0,0

In [10]:
# Guardar el DataFrame resultante como un archivo CSV
tabla_completa.to_csv('completando/tabla_completa.csv', index=False)

In [13]:
# Carga la tabla 2005 con los casos
tabla_2005 = pd.read_csv('completando/ejemplo/2005_diagnostic-suspicion_diphtheria.csv')
tabla_2005 #324 rows × 12 columns

,DEPARTAMENT,code_municipality,municipality,group,variable,year,under 1 year,1 to 4 years,5 to 14 years,15 to 59 years,60 and more years,total
0,POTOSI,51302,ACACIO,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
1,LA PAZ,20201,ACHACACHI,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
2,LA PAZ,20104,ACHOCALLA,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
3,COCHABAMBA,30201,AIQUILE,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
4,COCHABAMBA,31303,ALALAY,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
319,SANTA CRUZ,70403,YAPACANI,diagnostic suspicion,diphtheria,2005,0,0,0,1,0,1
320,POTOSI,50103,YOCALLA,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
321,CHUQUISACA,10102,YOTALA,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
322,TARIJA,60402,YUNCHARA,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
323,CHUQUISACA,10301,ZUDAÑEZ,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0

In [14]:
# Elimina los duplicados de la tabla 2005 en base al código de municipio
tabla_2005 = tabla_2005.drop_duplicates(subset=['code_municipality'])
tabla_2005#322*12col

,DEPARTAMENT,code_municipality,municipality,group,variable,year,under 1 year,1 to 4 years,5 to 14 years,15 to 59 years,60 and more years,total
0,POTOSI,51302,ACACIO,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
1,LA PAZ,20201,ACHACACHI,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
2,LA PAZ,20104,ACHOCALLA,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
3,COCHABAMBA,30201,AIQUILE,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
4,COCHABAMBA,31303,ALALAY,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
319,SANTA CRUZ,70403,YAPACANI,diagnostic suspicion,diphtheria,2005,0,0,0,1,0,1
320,POTOSI,50103,YOCALLA,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
321,CHUQUISACA,10102,YOTALA,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
322,TARIJA,60402,YUNCHARA,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
323,CHUQUISACA,10301,ZUDAÑEZ,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0

In [16]:
# Carga la tabla de municipios con nombres y códigos
#todos_municipios = pd.read_csv('completando/municipios_snis_corregido.csv')
# Realiza el merge usando how='left' para mantener todas las filas de tabla_2005
#tabla_completa_2005 = todos_municipios.merge(tabla_2005, on=['codigo_municipio', 'municipio'], how='left')
#tabla_completa_2005['grupo'] = tabla_2005['grupo'].unique()[0]  # Asigna el valor único de 'grupo' en tabla_incompleta
#tabla_completa_2005['variable'] = tabla_2005['variable'].unique()[0]  # Asigna el valor único de 'variable' en tabla_incompleta
#tabla_completa_2005['year'] = tabla_2005['year'].unique()[0]  # Asigna el valor único de 'año' en tabla_incompleta
#tabla_completa_2005.iloc[:, 6:] = tabla_completa_2005.iloc[:, 6:].fillna(0).astype(int)

tabla_completa_2005 = todos_municipios.merge(tabla_2005, on=['DEPARTAMENT','code_municipality', 'municipality'], how='left')
tabla_completa_2005['group'] = tabla_2005['group'].unique()[0]  # Asigna el valor único de 'grupo' en tabla_incompleta
tabla_completa_2005['variable'] = tabla_2005['variable'].unique()[0]  # Asigna el valor único de 'variable' en tabla_incompleta
tabla_completa_2005['year'] = tabla_2005['year'].unique()[0]  # Asigna el valor único de 'año' en tabla_incompleta
tabla_completa_2005.iloc[:, 6:] = tabla_completa_2005.iloc[:, 6:].fillna(0).astype(int)


tabla_completa_2005

C:\Users\USER\AppData\Local\Temp\ipykernel_4068\373365814.py:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  tabla_completa_2005.iloc[:, 6:] = tabla_completa_2005.iloc[:, 6:].fillna(0).astype(int)

,DEPARTAMENT,code_municipality,municipality,group,variable,year,under 1 year,1 to 4 years,5 to 14 years,15 to 59 years,60 and more years,total
0,CHUQUISACA,10101,SUCRE,diagnostic suspicion,diphtheria,2005,0,2,0,0,0,2
1,CHUQUISACA,10102,YOTALA,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
2,CHUQUISACA,10103,POROMA,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
3,CHUQUISACA,10201,AZURDUY,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
4,CHUQUISACA,10202,TARVITA,diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
337,PANDO,90401,NACEBE (SANTA ROSA DEL ABUNA),diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
338,PANDO,90402,INGAVI (HUMAITA),diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
339,PANDO,90501,NUEVO MANOA (NUEVA ESPERANZA),diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
340,PANDO,90502,VILLA NUEVA (LOMA ALTA),diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0
341,PANDO,90503,EUREKA (SANTOS MERCADO),diagnostic suspicion,diphtheria,2005,0,0,0,0,0,0

In [9]:
# Guarda el DataFrame resultante como un archivo CSV
tabla_completa_2005.to_csv('completando/ejemplo/tabla_completa_2005_eng.csv', index=False)

In [12]:
# Carga la tabla 2019 con los casos
tabla_incompleta = pd.read_csv('completando/ejemplo/2019_otras-infecciones_neumonia.csv')
tabla_incompleta

,codigo_municipio,municipio,grupo,variable,mes,hombres de 6 meses,mujeres menores a 6 meses,hombres de 6 meses a 1 año,mujeres de 6 meses a 1 año,hombres de 1 a 4 años,...,mujeres de 20 a 39 años,hombres de 40 a 49 años,mujeres de 40 a 49 años,hombres de 50 a 59 años,mujeres de 50 a 59 años,hombres de 60 y más años,mujeres de 60 y más años,dentro de establecimientos total,fuera de establecimientos total,total
0,20201,ACHACACHI,otras infecciones,neumonia,2019-01-01,0,0,1,1,3,...,0,0,0,0,0,0,2,4,3,7
1,20104,ACHOCALLA,otras infecciones,neumonia,2019-01-01,0,0,0,0,0,...,1,0,0,0,0,1,0,1,2,3
2,30201,AIQUILE,otras infecciones,neumonia,2019-01-01,1,0,0,1,0,...,0,0,0,0,0,1,2,5,5,10
3,31303,ALALAY,otras infecciones,neumonia,2019-01-01,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
4,10404,ALCALA,otras infecciones,neumonia,2019-01-01,0,0,1,0,0,...,0,1,0,0,0,0,1,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2991,60301,YACUIBA,otras infecciones,neumonia,2019-12-01,2,2,4,7,16,...,5,4,2,4,3,13,16,63,60,123
2992,10602,YAMPARAEZ,otras infecciones,neumonia,2019-12-01,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2993,21103,YANACACHI,otras infecciones,neumonia,2019-12-01,0,0,0,0,0,...,0,1,0,1,0,0,0,2,0,2
2994,70403,YAPACANI,otras infecciones,neumonia,2019-12-01,7,1,6,11,25,...,3,2,2,0,1,0,1,50,58,108
2995,10102,YOTALA,otras infecciones,neumonia,2019-12-01,1,0,0,0,1,...,1,0,0,0,0,3,3,5,9,14

In [13]:
# Convertir la columna "mes" a formato de fecha
tabla_incompleta['mes'] = pd.to_datetime(tabla_incompleta['mes'])

# Agregar columnas "año" y "departamento" basadas en la columna "mes"
tabla_incompleta['año'] = tabla_incompleta['mes'].dt.year
# Sumar los valores mensuales por municipio y año
tabla_sumada = tabla_incompleta.groupby(['codigo_municipio', 'municipio', 'grupo', 'variable','año']).sum().reset_index()

C:\Users\USER\AppData\Local\Temp\ipykernel_10920\627215302.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tabla_sumada = tabla_incompleta.groupby(['codigo_municipio', 'municipio', 'grupo', 'variable','año']).sum().reset_index()

In [14]:
tabla_sumada

,codigo_municipio,municipio,grupo,variable,año,hombres de 6 meses,mujeres menores a 6 meses,hombres de 6 meses a 1 año,mujeres de 6 meses a 1 año,hombres de 1 a 4 años,...,mujeres de 20 a 39 años,hombres de 40 a 49 años,mujeres de 40 a 49 años,hombres de 50 a 59 años,mujeres de 50 a 59 años,hombres de 60 y más años,mujeres de 60 y más años,dentro de establecimientos total,fuera de establecimientos total,total
0,10101,SUCRE,otras infecciones,neumonia,2019,231,165,281,180,831,...,204,93,117,104,166,558,633,2598,2493,5091
1,10102,YOTALA,otras infecciones,neumonia,2019,12,8,2,9,33,...,6,3,4,1,4,27,23,98,103,201
2,10103,POROMA,otras infecciones,neumonia,2019,3,5,1,1,3,...,1,1,0,1,0,3,7,16,19,35
3,10201,AZURDUY,otras infecciones,neumonia,2019,0,2,3,6,9,...,2,2,3,3,1,9,12,31,40,71
4,10202,TARVITA,otras infecciones,neumonia,2019,10,6,8,5,16,...,4,3,7,3,10,56,45,108,109,217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,90401,NACEBE (SANTA ROSA DEL ABUNA),otras infecciones,neumonia,2019,1,0,15,4,29,...,2,1,0,1,0,0,1,53,21,74
316,90402,INGAVI (HUMAITA),otras infecciones,neumonia,2019,0,0,0,0,2,...,1,0,0,0,0,0,0,2,3,5
317,90501,NUEVO MANOA (NUEVA ESPERANZA),otras infecciones,neumonia,2019,0,0,1,0,0,...,0,0,0,0,0,0,0,2,1,3
318,90502,VILLA NUEVA (LOMA ALTA),otras infecciones,neumonia,2019,3,1,1,1,6,...,1,3,1,1,1,1,0,19,8,27
319,90503,EUREKA (SANTOS MERCADO),otras infecciones,neumonia,2019,0,0,2,1,0,...,1,1,1,0,0,0,0,5,3,8

In [16]:
# Unir DataFrames y completar valores faltantes

tabla_completa = todos_municipios.merge(tabla_sumada, on=['codigo_municipio', 'municipio'], how='left')

tabla_completa['grupo'] = tabla_incompleta['grupo'].unique()[0]  # Asigna el valor único de 'grupo' en tabla_incompleta
tabla_completa['variable'] = tabla_incompleta['variable'].unique()[0]  # Asigna el valor único de 'variable' en tabla_incompleta
tabla_completa['año'] = tabla_incompleta['año'].unique()[0]  # Asigna el valor único de 'año' en tabla_incompleta
# Rellena las columnas seleccionadas a partir del la sexta con 0 y las convierte a tipo entero
tabla_completa.iloc[:, 6:] = tabla_completa.iloc[:, 6:].fillna(0).astype(int)

C:\Users\USER\AppData\Local\Temp\ipykernel_10920\3281657940.py:9: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  tabla_completa.iloc[:, 6:] = tabla_completa.iloc[:, 6:].fillna(0).astype(int)

In [17]:
tabla_completa

,departamento,codigo_municipio,municipio,grupo,variable,año,hombres de 6 meses,mujeres menores a 6 meses,hombres de 6 meses a 1 año,mujeres de 6 meses a 1 año,...,mujeres de 20 a 39 años,hombres de 40 a 49 años,mujeres de 40 a 49 años,hombres de 50 a 59 años,mujeres de 50 a 59 años,hombres de 60 y más años,mujeres de 60 y más años,dentro de establecimientos total,fuera de establecimientos total,total
0,CHUQUISACA,10101,SUCRE,otras infecciones,neumonia,2019,231,165,281,180,...,204,93,117,104,166,558,633,2598,2493,5091
1,CHUQUISACA,10102,YOTALA,otras infecciones,neumonia,2019,12,8,2,9,...,6,3,4,1,4,27,23,98,103,201
2,CHUQUISACA,10103,POROMA,otras infecciones,neumonia,2019,3,5,1,1,...,1,1,0,1,0,3,7,16,19,35
3,CHUQUISACA,10201,AZURDUY,otras infecciones,neumonia,2019,0,2,3,6,...,2,2,3,3,1,9,12,31,40,71
4,CHUQUISACA,10202,TARVITA,otras infecciones,neumonia,2019,10,6,8,5,...,4,3,7,3,10,56,45,108,109,217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,PANDO,90401,NACEBE (SANTA ROSA DEL ABUNA),otras infecciones,neumonia,2019,1,0,15,4,...,2,1,0,1,0,0,1,53,21,74
338,PANDO,90402,INGAVI (HUMAITA),otras infecciones,neumonia,2019,0,0,0,0,...,1,0,0,0,0,0,0,2,3,5
339,PANDO,90501,NUEVO MANOA (NUEVA ESPERANZA),otras infecciones,neumonia,2019,0,0,1,0,...,0,0,0,0,0,0,0,2,1,3
340,PANDO,90502,VILLA NUEVA (LOMA ALTA),otras infecciones,neumonia,2019,3,1,1,1,...,1,3,1,1,1,1,0,19,8,27
341,PANDO,90503,EUREKA (SANTOS MERCADO),otras infecciones,neumonia,2019,0,0,2,1,...,1,1,1,0,0,0,0,5,3,8

In [ ]:
# Guardar el DataFrame resultante como un archivo CSV
tabla_completa.to_csv('completando/tabla_completa_2019.csv', index=False)

##  TRADUCIENDO 2001

In [7]:
# Carga el CSV en un DataFrame
tabla_incompleta = pd.read_csv('completando/ejemplo/2001_sospecha-diagnostica_tosferina.csv')
tabla_incompleta[:5]

,codigo_municipio,municipio,grupo,variable,mes,menores a 1 año,de 1 a 4 años,de 5 a 14 años,de 15 a 59 años,de 60 y más años,total
0,20101,LA PAZ,sospecha diagnostica,tosferina,2001-01-01,0,1,0,0,0,1
1,20101,LA PAZ,sospecha diagnostica,tosferina,2001-02-01,2,0,0,0,0,2
2,40101,ORURO,sospecha diagnostica,tosferina,2001-03-01,0,1,1,0,0,2
3,70201,WARNES,sospecha diagnostica,tosferina,2001-03-01,1,0,0,0,0,1
4,20101,LA PAZ,sospecha diagnostica,tosferina,2001-04-01,3,0,0,0,0,3

In [4]:
todos_municipios = pd.read_csv('resources/municipios_snis_corregido.csv')##tabla editada luego de eliminar muncipios repetidos
todos_municipios[:5]

   COD_MUNICIPIO MUNICIPIO DEPARTAMENTO
0          10101     SUCRE   CHUQUISACA
1          10102    YOTALA   CHUQUISACA
2          10103    POROMA   CHUQUISACA
3          10201   AZURDUY   CHUQUISACA
4          10202   TARVITA   CHUQUISACA

In [30]:
todos_municipios = todos_municipios.rename(columns={'DEPARTAMENTO': 'DEPARTAMENT', 'COD_MUNICIPIO': 'code_municipality', 'MUNICIPIO': 'municipality'})
todos_municipios = todos_municipios[['DEPARTAMENT', 'code_municipality', 'municipality']]
todos_municipios

    DEPARTAMENT  code_municipality                   municipality
0    CHUQUISACA              10101                          SUCRE
1    CHUQUISACA              10102                         YOTALA
2    CHUQUISACA              10103                         POROMA
3    CHUQUISACA              10201                        AZURDUY
4    CHUQUISACA              10202                        TARVITA
..          ...                ...                            ...
337       PANDO              90401  NACEBE (SANTA ROSA DEL ABUNA)
338       PANDO              90402               INGAVI (HUMAITA)
339       PANDO              90501  NUEVO MANOA (NUEVA ESPERANZA)
340       PANDO              90502        VILLA NUEVA (LOMA ALTA)
341       PANDO              90503        EUREKA (SANTOS MERCADO)

[342 rows x 3 columns]

In [9]:
tabla_incompleta = tabla_incompleta.rename(columns={'codigo_municipio':'code_municipality', 'municipio' :'municipality', 'grupo':'group' })
tabla_incompleta[:3]

,code_municipality,municipality,group,variable,mes,menores a 1 año,de 1 a 4 años,de 5 a 14 años,de 15 a 59 años,de 60 y más años,total
0,20101,LA PAZ,sospecha diagnostica,tosferina,2001-01-01,0,1,0,0,0,1
1,20101,LA PAZ,sospecha diagnostica,tosferina,2001-02-01,2,0,0,0,0,2
2,40101,ORURO,sospecha diagnostica,tosferina,2001-03-01,0,1,1,0,0,2

In [11]:
# Convertir la columna "mes" a formato de fecha
tabla_incompleta['mes'] = pd.to_datetime(tabla_incompleta['mes'])
# Agregar columnas "año" y "departamento" basadas en la columna "mes"
tabla_incompleta['year'] = tabla_incompleta['mes'].dt.year
# Sumar los valores mensuales por municipio y año
tabla_sumada = tabla_incompleta.groupby(['code_municipality', 'municipality', 'group', 'variable','year']).sum().reset_index()

C:\Users\USER\AppData\Local\Temp\ipykernel_10584\805431918.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tabla_sumada = tabla_incompleta.groupby(['code_municipality', 'municipality', 'group', 'variable','year']).sum().reset_index()

In [31]:
tabla_sumada

,code_municipality,municipality,group,variable,year,menores a 1 año,de 1 a 4 años,de 5 a 14 años,de 15 a 59 años,de 60 y más años,total
0,20101,LA PAZ,diagnostic suspicion,whooping cough,2001,35,14,2,1,0,52
1,20105,EL ALTO,diagnostic suspicion,whooping cough,2001,0,0,1,0,0,1
2,30101,COCHABAMBA,diagnostic suspicion,whooping cough,2001,1,0,0,0,0,1
3,31001,SACABA,diagnostic suspicion,whooping cough,2001,1,0,1,0,0,2
4,31003,VILLA TUNARI,diagnostic suspicion,whooping cough,2001,2,3,0,0,0,5
5,40101,ORURO,diagnostic suspicion,whooping cough,2001,1,1,1,0,0,3
6,40102,CARACOLLO,diagnostic suspicion,whooping cough,2001,0,0,1,0,0,1
7,41401,SANTIAGO DE HUARI,diagnostic suspicion,whooping cough,2001,1,0,0,0,0,1
8,50101,POTOSI,diagnostic suspicion,whooping cough,2001,1,0,0,0,0,1
9,60101,TARIJA,diagnostic suspicion,whooping cough,2001,2,0,0,0,0,2
10,60301,YACUIBA,diagnostic suspicion,whooping cough,2001,4,1,0,0,0,5
11,70101,SANTA CRUZ DE LA SIERRA,diagnostic suspicion,whooping cough,2001,1,3,0,0,0,4
12,70201,WARNES,diagnostic suspicion,whooping cough,2001,1,0,0,0,0,1
13,71001,MONTERO,diagnostic suspicion,whooping cough,2001,3,0,0,0,0,3

## traduciendo grupo y variable

In [16]:
valores_unicos = tabla_sumada["group"].unique()
valores_unicos

array(['sospecha diagnostica'], dtype=object)

In [17]:
# Creamos un diccionario que mapea los valores originales a los valores traducidos
diccionario = {
    "sospecha diagnostica": "diagnostic suspicion"
}
# Aplicamos la función de traducción a la columna
tabla_sumada["group"] = tabla_sumada["group"].apply(lambda x: diccionario.get(x, x))

In [23]:
valores_unicos = tabla_sumada["variable"].unique()
valores_unicos

array(['tosferina'], dtype=object)

In [26]:
# Creamos un diccionario que mapea los valores originales a los valores traducidos
diccionario = {
    "tosferina": "whooping cough"
}
# Aplicamos la función de traducción a la columna
tabla_sumada["variable"] = tabla_sumada["variable"].apply(lambda x: diccionario.get(x, x))

# agregando muncipios faltantes

In [34]:
tabla_completa = todos_municipios.merge(tabla_sumada, on=['code_municipality', 'municipality'], how='left')
tabla_completa['group'] = tabla_sumada['group'].unique()[0]  # Asigna el valor único de 'grupo' en tabla_incompleta
tabla_completa['variable'] = tabla_sumada['variable'].unique()[0]  # Asigna el valor único de 'variable' en tabla_incompleta
tabla_completa['year'] = tabla_sumada['year'].unique()[0]  # Asigna el valor único de 'año' en tabla_incompleta
tabla_completa.iloc[:, 6:] = tabla_completa.iloc[:, 6:].fillna(0).astype(int)

tabla_completa

C:\Users\USER\AppData\Local\Temp\ipykernel_10584\1105471065.py:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  tabla_completa.iloc[:, 6:] = tabla_completa.iloc[:, 6:].fillna(0).astype(int)

,DEPARTAMENT,code_municipality,municipality,group,variable,year,menores a 1 año,de 1 a 4 años,de 5 a 14 años,de 15 a 59 años,de 60 y más años,total
0,CHUQUISACA,10101,SUCRE,diagnostic suspicion,whooping cough,2001,0,0,0,0,0,0
1,CHUQUISACA,10102,YOTALA,diagnostic suspicion,whooping cough,2001,0,0,0,0,0,0
2,CHUQUISACA,10103,POROMA,diagnostic suspicion,whooping cough,2001,0,0,0,0,0,0
3,CHUQUISACA,10201,AZURDUY,diagnostic suspicion,whooping cough,2001,0,0,0,0,0,0
4,CHUQUISACA,10202,TARVITA,diagnostic suspicion,whooping cough,2001,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
337,PANDO,90401,NACEBE (SANTA ROSA DEL ABUNA),diagnostic suspicion,whooping cough,2001,0,0,0,0,0,0
338,PANDO,90402,INGAVI (HUMAITA),diagnostic suspicion,whooping cough,2001,0,0,0,0,0,0
339,PANDO,90501,NUEVO MANOA (NUEVA ESPERANZA),diagnostic suspicion,whooping cough,2001,0,0,0,0,0,0
340,PANDO,90502,VILLA NUEVA (LOMA ALTA),diagnostic suspicion,whooping cough,2001,0,0,0,0,0,0
341,PANDO,90503,EUREKA (SANTOS MERCADO),diagnostic suspicion,whooping cough,2001,0,0,0,0,0,0