# Completando la cantidad de municipios tabla por mes 2005 -2021

In [1]:
import pandas as pd

In [2]:
# Carga el CSV en un DataFrame
tabla_mes = pd.read_csv('completando/ejemplo/2005_sospecha-diagnostica_difteria_mes.csv')
tabla_mes

,DEPARTAMENTO,codigo_municipio,municipio,grupo,variable,mes,menores a 1 año,de 1 a 4 años,de 5 a 14 años,de 15 a 59 años,de 60 y más años,total
0,POTOSI,51302,ACACIO,sospecha diagnostica,difteria,2005-01-01,0,0,0,0,0,0
1,LA PAZ,20201,ACHACACHI,sospecha diagnostica,difteria,2005-01-01,0,0,0,0,0,0
2,LA PAZ,20104,ACHOCALLA,sospecha diagnostica,difteria,2005-01-01,0,0,0,0,0,0
3,COCHABAMBA,30201,AIQUILE,sospecha diagnostica,difteria,2005-01-01,0,0,0,0,0,0
4,COCHABAMBA,31303,ALALAY,sospecha diagnostica,difteria,2005-01-01,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3883,SANTA CRUZ,70403,YAPACANI,sospecha diagnostica,difteria,2005-12-01,0,0,0,1,0,1
3884,POTOSI,50103,YOCALLA,sospecha diagnostica,difteria,2005-12-01,0,0,0,0,0,0
3885,CHUQUISACA,10102,YOTALA,sospecha diagnostica,difteria,2005-12-01,0,0,0,0,0,0
3886,TARIJA,60402,YUNCHARA,sospecha diagnostica,difteria,2005-12-01,0,0,0,0,0,0
3887,CHUQUISACA,10301,ZUDAÑEZ,sospecha diagnostica,difteria,2005-12-01,0,0,0,0,0,0

In [3]:
# Elimina las filas duplicadas en el DataFrame original
tabla_mes = tabla_mes.drop_duplicates(subset=['codigo_municipio', 'mes'])
tabla_mes

,DEPARTAMENTO,codigo_municipio,municipio,grupo,variable,mes,menores a 1 año,de 1 a 4 años,de 5 a 14 años,de 15 a 59 años,de 60 y más años,total
0,POTOSI,51302,ACACIO,sospecha diagnostica,difteria,2005-01-01,0,0,0,0,0,0
1,LA PAZ,20201,ACHACACHI,sospecha diagnostica,difteria,2005-01-01,0,0,0,0,0,0
2,LA PAZ,20104,ACHOCALLA,sospecha diagnostica,difteria,2005-01-01,0,0,0,0,0,0
3,COCHABAMBA,30201,AIQUILE,sospecha diagnostica,difteria,2005-01-01,0,0,0,0,0,0
4,COCHABAMBA,31303,ALALAY,sospecha diagnostica,difteria,2005-01-01,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3883,SANTA CRUZ,70403,YAPACANI,sospecha diagnostica,difteria,2005-12-01,0,0,0,1,0,1
3884,POTOSI,50103,YOCALLA,sospecha diagnostica,difteria,2005-12-01,0,0,0,0,0,0
3885,CHUQUISACA,10102,YOTALA,sospecha diagnostica,difteria,2005-12-01,0,0,0,0,0,0
3886,TARIJA,60402,YUNCHARA,sospecha diagnostica,difteria,2005-12-01,0,0,0,0,0,0
3887,CHUQUISACA,10301,ZUDAÑEZ,sospecha diagnostica,difteria,2005-12-01,0,0,0,0,0,0

In [27]:
# Crea un DataFrame con códigos de municipio únicos y sus nombres correspondientes
df_municipios_unicos = tabla_mes[['codigo_municipio', 'municipio']].drop_duplicates()
df_municipios_unicos

     codigo_municipio  municipio
0               51302     ACACIO
1               20201  ACHACACHI
2               20104  ACHOCALLA
3               30201    AIQUILE
4               31303     ALALAY
..                ...        ...
319             70403   YAPACANI
320             50103    YOCALLA
321             10102     YOTALA
322             60402   YUNCHARA
323             10301    ZUDAÑEZ

[322 rows x 2 columns]

In [4]:
#cargando el CSV con la lista de departamentos y sus municipios

todos_municipios = pd.read_csv('resources/municipios_snis_corregido.csv')##tabla editada luego de eliminar muncipios repetidos
todos_municipios

     COD_MUNICIPIO                      MUNICIPIO DEPARTAMENTO
0            10101                          SUCRE   CHUQUISACA
1            10102                         YOTALA   CHUQUISACA
2            10103                         POROMA   CHUQUISACA
3            10201                        AZURDUY   CHUQUISACA
4            10202                        TARVITA   CHUQUISACA
..             ...                            ...          ...
337          90401  NACEBE (SANTA ROSA DEL ABUNA)        PANDO
338          90402               INGAVI (HUMAITA)        PANDO
339          90501  NUEVO MANOA (NUEVA ESPERANZA)        PANDO
340          90502        VILLA NUEVA (LOMA ALTA)        PANDO
341          90503        EUREKA (SANTOS MERCADO)        PANDO

[342 rows x 3 columns]

In [5]:
# Renombrar las columnas para que coincidan con la tabla incompleta
todos_municipios = todos_municipios.rename(columns={'COD_MUNICIPIO': 'codigo_municipio', 'MUNICIPIO': 'municipio'})
#todos_municipios = todos_municipios.rename(columns={'DEPARTAMENTO': 'DEPARTAMENT', 'COD_MUNICIPIO': 'code_municipality', 'MUNICIPIO': 'municipality'})
todos_municipios

     codigo_municipio                      municipio DEPARTAMENTO
0               10101                          SUCRE   CHUQUISACA
1               10102                         YOTALA   CHUQUISACA
2               10103                         POROMA   CHUQUISACA
3               10201                        AZURDUY   CHUQUISACA
4               10202                        TARVITA   CHUQUISACA
..                ...                            ...          ...
337             90401  NACEBE (SANTA ROSA DEL ABUNA)        PANDO
338             90402               INGAVI (HUMAITA)        PANDO
339             90501  NUEVO MANOA (NUEVA ESPERANZA)        PANDO
340             90502        VILLA NUEVA (LOMA ALTA)        PANDO
341             90503        EUREKA (SANTOS MERCADO)        PANDO

[342 rows x 3 columns]

In [6]:
# Reorganizar las columnas para que "departamento" esté en la primera posición
todos_municipios = todos_municipios[['DEPARTAMENTO', 'codigo_municipio', 'municipio']]
#todos_municipios = todos_municipios[['DEPARTAMENT', 'code_municipality', 'municipality']]
todos_municipios[:3]

  DEPARTAMENTO  codigo_municipio municipio
0   CHUQUISACA             10101     SUCRE
1   CHUQUISACA             10102    YOTALA
2   CHUQUISACA             10103    POROMA

In [7]:
# Crea un DataFrame con todas las fechas únicas
df_fechas_completas = tabla_mes[['mes']].drop_duplicates()
df_fechas_completas

             mes
0     2005-01-01
324   2005-02-01
648   2005-03-01
972   2005-04-01
1296  2005-05-01
1620  2005-06-01
1944  2005-07-01
2268  2005-08-01
2592  2005-09-01
2916  2005-10-01
3240  2005-11-01
3564  2005-12-01

In [9]:
# Realiza una combinación (merge) entre los DataFrames de municipios y fechas
#usando 'cross' se produce una multiplicacion cartesiana donde se juntan ambos DF  sin necesidad de columnas en comùn
df_combinado = pd.merge(todos_municipios, df_fechas_completas, how='cross')
df_combinado

     DEPARTAMENTO  codigo_municipio                municipio         mes
0      CHUQUISACA             10101                    SUCRE  2005-01-01
1      CHUQUISACA             10101                    SUCRE  2005-02-01
2      CHUQUISACA             10101                    SUCRE  2005-03-01
3      CHUQUISACA             10101                    SUCRE  2005-04-01
4      CHUQUISACA             10101                    SUCRE  2005-05-01
...           ...               ...                      ...         ...
4099        PANDO             90503  EUREKA (SANTOS MERCADO)  2005-08-01
4100        PANDO             90503  EUREKA (SANTOS MERCADO)  2005-09-01
4101        PANDO             90503  EUREKA (SANTOS MERCADO)  2005-10-01
4102        PANDO             90503  EUREKA (SANTOS MERCADO)  2005-11-01
4103        PANDO             90503  EUREKA (SANTOS MERCADO)  2005-12-01

[4104 rows x 4 columns]

In [28]:
# Realiza una fusión (merge) con el DataFrame original para obtener los valores correspondientes
df_completo = pd.merge(df_combinado, tabla_mes, on=['DEPARTAMENTO','codigo_municipio','municipio','mes'], how='left')
df_completo

,DEPARTAMENTO,codigo_municipio,municipio,mes,grupo,variable,menores a 1 año,de 1 a 4 años,de 5 a 14 años,de 15 a 59 años,de 60 y más años,total
0,CHUQUISACA,10101,SUCRE,2005-01-01,sospecha diagnostica,difteria,0.0,1.0,0.0,0.0,0.0,1.0
1,CHUQUISACA,10101,SUCRE,2005-02-01,sospecha diagnostica,difteria,0.0,0.0,0.0,0.0,0.0,0.0
2,CHUQUISACA,10101,SUCRE,2005-03-01,sospecha diagnostica,difteria,0.0,0.0,0.0,0.0,0.0,0.0
3,CHUQUISACA,10101,SUCRE,2005-04-01,sospecha diagnostica,difteria,0.0,0.0,0.0,0.0,0.0,0.0
4,CHUQUISACA,10101,SUCRE,2005-05-01,sospecha diagnostica,difteria,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4099,PANDO,90503,EUREKA (SANTOS MERCADO),2005-08-01,sospecha diagnostica,difteria,0.0,0.0,0.0,0.0,0.0,0.0
4100,PANDO,90503,EUREKA (SANTOS MERCADO),2005-09-01,sospecha diagnostica,difteria,0.0,0.0,0.0,0.0,0.0,0.0
4101,PANDO,90503,EUREKA (SANTOS MERCADO),2005-10-01,sospecha diagnostica,difteria,0.0,0.0,0.0,0.0,0.0,0.0
4102,PANDO,90503,EUREKA (SANTOS MERCADO),2005-11-01,sospecha diagnostica,difteria,0.0,0.0,0.0,0.0,0.0,0.0
4103,PANDO,90503,EUREKA (SANTOS MERCADO),2005-12-01,sospecha diagnostica,difteria,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:

df_completo['grupo'] = tabla_mes['grupo'].unique()[0]  # Asigna el valor único de 'grupo' en tabla_incompleta
df_completo['variable'] = tabla_mes['variable'].unique()[0]  # Asigna el valor único de 'variable' en tabla_incompleta
# Rellena las columnas seleccionadas a partir del la sexta con 0 y las convierte a tipo entero
df_completo.iloc[:, 6:] = df_completo.iloc[:, 6:].fillna(0).astype(int)

C:\Users\USER\AppData\Local\Temp\ipykernel_3572\2899830906.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_completo.iloc[:, 6:] = df_completo.iloc[:, 6:].fillna(0).astype(int)

In [30]:
df_completo

,DEPARTAMENTO,codigo_municipio,municipio,mes,grupo,variable,menores a 1 año,de 1 a 4 años,de 5 a 14 años,de 15 a 59 años,de 60 y más años,total
0,CHUQUISACA,10101,SUCRE,2005-01-01,sospecha diagnostica,difteria,0,1,0,0,0,1
1,CHUQUISACA,10101,SUCRE,2005-02-01,sospecha diagnostica,difteria,0,0,0,0,0,0
2,CHUQUISACA,10101,SUCRE,2005-03-01,sospecha diagnostica,difteria,0,0,0,0,0,0
3,CHUQUISACA,10101,SUCRE,2005-04-01,sospecha diagnostica,difteria,0,0,0,0,0,0
4,CHUQUISACA,10101,SUCRE,2005-05-01,sospecha diagnostica,difteria,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4099,PANDO,90503,EUREKA (SANTOS MERCADO),2005-08-01,sospecha diagnostica,difteria,0,0,0,0,0,0
4100,PANDO,90503,EUREKA (SANTOS MERCADO),2005-09-01,sospecha diagnostica,difteria,0,0,0,0,0,0
4101,PANDO,90503,EUREKA (SANTOS MERCADO),2005-10-01,sospecha diagnostica,difteria,0,0,0,0,0,0
4102,PANDO,90503,EUREKA (SANTOS MERCADO),2005-11-01,sospecha diagnostica,difteria,0,0,0,0,0,0
4103,PANDO,90503,EUREKA (SANTOS MERCADO),2005-12-01,sospecha diagnostica,difteria,0,0,0,0,0,0

In [ ]:
# Guardar el DataFrame resultante como un archivo CSV
df_completo.to_csv('completando/tabla_mes_difteria_2005.csv', index=False)